/* div{
    width: 500px;
    height: 100px;
    margin-top: 20%;
    margin-left: 15%;
    
    /* las sombras se aplicarian al menu bar y a otros elementos 
    en la pagina que se esta desarrollando */
    /* sombra: */

/*     background-color: crimson;
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    


} */ 
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
}

/*  Intro section */
#intro{
    min-height: 100vh;
}
.intro-title{
    font-size: 60px;
}
.intro-subtitle{
    font-size: 20px;
}

/* helpers */
.bg-light{
    background-color: #f8f8f8;
}
.text-center {
    text-align: center;
}
/* Flex */
.d-flex {
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}